header {
    text-align: left;
    background-size: cover;
    color: white;
    height: 650px;
    font-family: 'Cabin Sketch', cursive;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    font-size: 40px;
  }

  body {
    background:white;

    margin:0 auto;
    padding:0px;
  }
  body p {
    font-size:20px;
  }
  #header {
    background-image:url('MonetHeader.jpg');
  }
  #header a {
    color:black;
    text-decoration: none;
    font-size: 20px;
  }

  .header ul {
      padding: 10px;
      background: rgba(255,255,255,.5);
      margin: 0px;
    }
  .header li {
      display: inline;
      padding: 0px 10px 0px 10px;
      margin: 0px;
    }
    .header a {
    padding: 15px;
    }
      .header a:hover {
      background-color: rgba(242, 242, 242,.25)

      }

  #About {
    color: rgba(0,77,40,1);
    font-family: 'Merienda', cursive;
  }

  .footer {
      background: rgba(240,255,255,.5);
  }
